*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    max-width: 1440px;
    width: 100%;
    height: auto;


}


/* ======== sec _1 ======== */



.wrapper {
    max-width: 1440px;
    width: 100%;
    height: auto;
    background-color: #fff;
}





.section1_hojiakbar {
    display: flex;
    background-color: #E7F066;
    flex-direction: row;
}



.sec1left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.texrt{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 40px 0px 40px 40px;
}

.im {
    padding: 26px;
    position: absolute;
}
.sec1left :nth-child(2){
    width: 980px;
    height: 688px;
    
}
.texrt p{
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */

    letter-spacing: 0.5px;

    color: #262626;

}

.sec1right {
    width: 360px;
    background-color: #E7F066;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}



.icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 150px;
    
}

.icon button {
    margin: 15px;
    background: none;
    border: none;
}






.top {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 200px;
}


.top p {
    width: 277px;
    margin: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */

    letter-spacing: 0.5px;

    color: #262626;

}


.top span {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */

    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #262626;
    padding: 10px;

}


.top hr {
    width: 138px;
    height: 2px;
    margin-left: 10px;


}


.blackdiv{
    background-color: black;
    width: 376px;
    color: white;
    height: 254px;
    margin-bottom: 35px;
    padding: 46px;
    margin-right: 50px;
}
.ota p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: #F1F1EE;

}
.ota span{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    margin-bottom: 0px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #F1F1EE;
}
.ota hr{
    width: 87px;
    background: #F1F1EE;
    height: 1px;
    margin-top: 10px;
}









/* ====== sec_2 ======== */

.section2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #9C8554;

}
.sec_left{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 25px 40px 40px;
}
.textp p{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;

    color: #B2B2B2;
}
.spandiv{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.spandiv span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: flex-start;
    letter-spacing: 0.5px;
    margin: 10px 0;
    color: #B2B2B2;

}
.spandiv hr{
        width: 217px;
    height: 1px;
    background: #B2B2B2;
}


.sec_right{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
   
}
.sec_right p{
    padding: 40px 40px 40px 0px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */

    text-align: right;
    letter-spacing: 0.5px;

    color: #B2B2B2;
}

/* ========== sec_3 ========= */



.section3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.sec_left3{
    width: 720px;
    height: 800px;
    background-image: url(./img/Rectangle\ \(50\).png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 450px;
}
.sec_left3 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    padding: 0px 0px 5px 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #262626;
}
.sec_left3 hr{
    width: 171px;
    background: #262626;
    margin: 0px 0px 40px 40px;

}
.sec_right3{
    width: 700px;
    height: 800px;
    background-image: url(./img/Rectangle\ \(6\).png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 480px;
}
.sec_right3 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    padding: 0px 0px 5px 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #262626;
}
.sec_right3 hr{
    width: 141px;
    background: #262626;
    margin: 0px 0px 40px 40px;

}

/* ==========  sec_4 ========== */
.section4{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #EBEBEB;
    padding: 116px 150px 116px 25px;
    
}
.sec4_right{    
    width: 310px;
    height: 311px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    

}
#pi1{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;

    color: #262626;
}
#pi2{
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* or 114% */

    letter-spacing: 0.5px;

    color: #262626;
}
#span1{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */

    letter-spacing: 0.5px;

    color: #262626;
}
#span2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    letter-spacing: 0.5px;

    color: #262626;

}
#span3{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    
    color: #262626;
     
}
#hr1{
    width: 78px;
    height: 1px;
}








/* ========= sec_4 ======= */

/* ======== sec_5 ======= */
.section_5 {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    background: #A26779;
    border-radius: 0px;
}

.left {
    padding: 39px 61px 39px 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
}

.left :nth-child(1) {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;

    color: #B2B2B2;
}

.left .plar {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    width: 330px;
}

.plar span {
    width: 274px;
}

.salom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.salom hr{
    width: 79px;
    height: 1px;
}
.salom p {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */

    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #B2B2B2;
}
.right{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;

}
.right img{
    width: 900px;
    height: 688px;
}
.right p{
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */
    padding: 40px 40px 40px 0px;
    text-align: right;
    letter-spacing: 0.5px;

    color: #B2B2B2;
}


.section_6 {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(./img/Rectangle\ \(59\).png);
    padding: 119px 0 0 40px;
}

.section_6 :nth-child(1) {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;
    margin-bottom: 11px;
    color: #262626;
}

.section_6 :nth-child(2) {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */
    margin-bottom: 39px;
    letter-spacing: 0.5px;

    color: #262626;
}

.section_6 :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    width: 278px;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
    color: #262626;
}

.section_6 :nth-child(4) {
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    /* identical to box height, or 173% */

    letter-spacing: 1.2px;
    text-transform: uppercase;

    color: #262626;
}


/* ======== sec_6 ========= */


/* ======= sec_7 ========= */

.section7{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #504B4D;

}
.sec_left7{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 25px 40px 40px;
}
.textp7 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;

    color: #B2B2B2;
}
.spandiv7{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.spandiv7 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: flex-start;
    letter-spacing: 0.5px;
    margin: 10px 0;
    color: #B2B2B2;

}
.spandiv7 hr{
        width: 217px;
    height: 1px;
    background: #B2B2B2;
}


.sec_right7{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
   
}
.sec_right7 p{
    padding: 40px 40px 40px 0px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */

    text-align: right;
    letter-spacing: 0.5px;

    color: #B2B2B2;
}




/* ========== sec_8 ========= */

.section8{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #B04836;

}
.sec_left8{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 25px 40px 40px;
}
.textp8 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 127% */

    letter-spacing: 0.5px;

    color: #B2B2B2;
}
.spandiv8{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.spandiv8 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */
    text-align: flex-start;
    letter-spacing: 0.5px;
    margin: 10px 0;
    color: #B2B2B2;

}
.spandiv8 hr{
        width: 217px;
    height: 1px;
    background: #B2B2B2;
}


.sec_right8{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
   
}
.sec_right8 p{
    padding: 40px 40px 40px 0px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height, or 128% */

    text-align: right;
    letter-spacing: 0.5px;

    color: #B2B2B2;
}

/* === footer ==== */

footer{
    width: 100%;
    height: 198px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.foot_left{
    width: 720px;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px 40px 20px 40px;
}

.footer_1_past{
    width: 100%;
    display: flex;
}

.foot_1_t{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
}

.foot_1_t p{
    font-style: normal;
    padding-top: 8px;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 136% */

letter-spacing: 0.5px;

color: #CCCCCC;
}

.foot_1_p{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;

}

.foot_1_p p{
    padding-top: 8px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 136% */

letter-spacing: 0.5px;

color: #CCCCCC;
}

input {
    width: 280px;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: transparent;
    color: inherit;
    background: transparent;
  }

  .footer_1_button{
    padding: 25px 15px;
    width: 100%;
  }

  .footer_1_button button{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
/* identical to box height, or 158% */

letter-spacing: 1.2px;
text-transform: uppercase;
background-color: 
#262626;
color: #CCCCCC;
  }


  .footer_right{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: flex-end;
  }

  .radio{
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  .btn_input{
    width: 80px;
    padding-top: 50px;

  }

/* === footer === */